{{!-- 

    This is a view for authorizating users
    It pops up when user fails the checking process in auth.js 

 --}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authenticate</title>
    <link rel="stylesheet" href="/css/auth.css">
</head>

<body>
    <div id="form-box">
        <div id="logo-box">
            <img src="/img/logo.png" alt="Task manager">
            <h1>Task Manager</h1>
            <h4>by Nikita Myshuniaiev</h4>
        </div> 
        {{!-- Login or Signup --}}
        <div id="button-box">
            <div id="btn"></div>
            <button type="button" id="login-btn" class="toggle-btn" onclick="login()">Log In</button>
            <button type="button" id="signup-btn" class="toggle-btn" onclick="signup()">Sign Up</button>
        </div>

        <form id="login" class="input-group">
            <input type="text" class="input-field" placeholder="Name" required>
            {{!-- <input type="text" class="input-field" placeholder="Email(optional)"> --}}
            <input type="password" class="input-field" placeholder="Password" required>
            <div class="submit-btn-box">
                <button id="submit-login" class="submit-btn">Log In</button>
            </div>
        </form>

        <form id="signup" class="input-group">
            <input type="text" class="input-field" placeholder="Name" required>
            <input type="text" class="input-field" placeholder="Email(optional)">
            <input type="password" class="input-field" placeholder="Password" required>
            <div class="submit-btn-box">
                <button type="submit" class="submit-btn">Sign Up</button>
            </div>
        </form>
    </div>

    <script src="/js/auth.js"></script>
</body>

</html>