{{!-- SideBar --}}
<div id="sidenav" class="sidenav">
  <a href="#">About</a>
  <a href="#">Services</a>
  <a href="#">Clients</a>
  <a href="#">Contact</a>
</div>

{{!-- Navbar --}}
<div id="top-nav">
  <ul>
    <li><img class="nav-icon" src="/img/menu.png" alt="Expand" onclick="useNav()"></li>
    <li><img class="nav-icon" src="/img/home.png" alt="Home"></li>
    <li>
      <div id="findbox">
        <input id="search-txt" type="text" placeholder="Find a task...">
        <img id="search-img" src="/img/search.png" alt="Search">
      </div>
    </li>
  </ul>
</div>

<div id="main">
  main
</div>