{{!-- Navbar --}}
<div id="top-nav">
  {{!-- Left part of the navbar --}}
  <span id="left-side-span">
    <a class="left-side-a"><img class="nav-icon" src="/img/menu.png" alt="Expand" onclick="useNav()"></a>
    <a class="left-side-a"><img class="nav-icon" src="/img/home.png" alt="Home"></a>
    <a class="left-side-a">
      <div id="findbox">
        <input id="search-txt" type="text" placeholder="Find a task...">
        <img id="search-img" src="/img/search.png" alt="Search">
      </div>
    </a>
  </span>

  {{!-- Ritgh part of the navbar --}}
  <span id="right-side-span">
    <a class="right-side-a"><img class="nav-icon right" src="/img/gear.png" alt="Options"></a>
    <a class="right-side-a"><img class="nav-icon right" src="/img/bell.png" alt="Notifications"></a>
    <a class="right-side-a"><img class="nav-icon right" src="/img/plus.png" alt="Add"></a>
  </span>
</div>

{{!-- SideBar --}}
<div id="sidenav" class="sidenav">
  <a href="#">About</a>
  <a href="#">Services</a>
  <a href="#">Clients</a>
  <a href="#">Contact</a>
</div>

<div id="main">
  main
</div>